.about-page {
  .about-content {
    margin: 1.5rem 0;
    line-height: 1.6;
  }
  .number-contract {
    color: #959595;
    font-size: 0.875rem;
  }
  .certificates {
    position: relative;
    z-index: 10;
    a {
      display: block;
      margin-bottom: 30px;
    }
    img {
      transition: all .4s ease-in-out;
      &:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.38);
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
    .title {
      margin-bottom: 2rem;
    }
  }
  .list-town {
    li {
      list-style: disc;
      margin-bottom: 0.5rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.address-info {
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 1.125rem;
  .title {
    color: #fff;
  }
}
.phones {
  margin: 2rem 0;
  .phone-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    img {
      margin-right: 0.8rem;
    }
    &+.phone-item {
      margin-top: 0.4rem;
    }
  }
}
@media (max-width: 1200px) {
  .certificates {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .address-info, .address-info .title {
    color: #454545;
  }
}